.feed-widget {

    .feed-body {
        .feed-item {
            padding: 12px 0;
            display: flex;
            align-items: center;
            &:hover {
                background: $gray-100;
            }
            >.feed-icon {
                width: 40px;
                height: 40px;
                margin-right: 10px;
                display: inline-block;
                text-align: center;
                vertical-align: middle;
                border-radius: 100%;
                color: $white;
                i {
                    line-height: 40px;
                }
            }
        }
    }
}

.UserEditor {
    width: 100%;
    display: flex;
    > .form-group {
        width: 20%;
        padding: 0 1em;
        box-sizing: border-box;
    }
}

.add-user-errors {
    padding: 2em;
}

.add-user {
    margin-bottom: 2em;
}

.edit-customer-icons {
    display: flex;

    > div {
        margin-right: 10px;
        cursor: pointer;
    }
}